<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon"  type="image/png" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-comfirm/jquery-confirm.css">

    <script src="plugins/lodash/lodash.min.js"></script>


    <title> <%- data.title ? data.title : 'V-Car'%> </title>
    <% if(page) {%>
      <link rel="stylesheet" href = '<%- "pages/" + page + "/style.css"%>'>
    <%}%>

    <% if(plugins) {%>
      <% _.forEach(plugins, function(item){%>
          <link rel="stylesheet" href='<%- "plugins/" + item + "/style.css"%>'>
      <%})%>
    <%}%>
  

    <script>
       var user = JSON.parse('<%- JSON.stringify(data.user) %>')
       var roleIndex = JSON.parse('<%- JSON.stringify(data.roleIndex) %>');
    </script>


  </head>




  <body >
    <div class="container-fluid">
        <%- include('sidebar') %>
        <%- include('header') %>
        
        <div class="" id='pageChild'>
        </div>
    
        <%- include('loader') %>
    </div>
   
</body>



  <script src="js/jquery/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/jquery-comfirm/jquery-confirm.js"></script>
  <script src="plugins/socket.io-client/socket.io.js"></script>
  <script src="plugins/moment/moment.min.js"></script>
  <script src="plugins/moment/moment-with-locales.min.js"></script>

  <% if(page) {%>
    <script src='<%- "pages/" + page + "/script.js"%>'></script>
  <%}%>

  <% if(plugins) {%>
    <% _.forEach(plugins, function(item){%>
        <script src='<%- "plugins/" + item + "/script.js"%>'></script>
    <%})%>
  <%}%>

  <script src="js/global.js"></script>


</html>







  