<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-comfirm/jquery-confirm.css">


    <title> <%- title ? title : 'V-Car'%> </title>
    <% if(page) {%>
      <!-- <link rel="stylesheet" href = '<%- "pages/" + page + "/style.css"%>'> -->
    <%}%>

    <script>
      var userId = JSON.parse('<%- JSON.stringify(userId) %>')
    </script>
  </head>



  <body>
    <%- include('header') %>




  </div>

  <%- include('loader') %>

</body>



  <script src="js/jquery/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/jquery-comfirm/jquery-confirm.js"></script>
  <script src="plugins/socket.io-client/socket.io.js"></script>

  <% if(page) {%>
    <script src='<%- "pages/" + page + "/script.js"%>'></script>
  <%}%>

  <script src="js/global.js"></script>


</html>







  